*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.wrapper{
    display: flex;
    .list-users{
        display: flex;
        overflow-y: scroll;
        flex-direction: column;
        min-height: 100vh;
        color: #fff;
       border-right: 1px solid #000;
       .users{
        margin-top: 15px;
         list-style: decimal;
       }
      padding: 40px;
      padding-bottom: 75px;
      li{
        margin: 5px 0px;
        border-bottom: 1px solid #fff;
        font-size: 20px;

      }
      padding-top: 20px;
        background: rgb(20, 68, 74);
        width: 25%;
        word-wrap: break-word;
    }
    .form-mesage{
        position: fixed;
        display: flex;
        z-index: 5;
        align-items: center;
        height: 70px;
        bottom: 0;
        right: 0;
        left: 19.73%;
        background: rgb(24, 99, 108);
        .message-input{
            width: 100%;
            height: 35px;
            border-radius: 30px;
            border: none;
            padding: 0px 25px;
            display: flex;
            outline: none;
           margin-left: 15px;
        }
        .btn{
            background: rgb(22, 183, 201);
            border: none;
            padding: 10px;
            margin: 0px 10px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            outline: none;
            color: #fff;
            border-radius: 25px;
            span{
                transform: rotate(-45deg);
            }
           
        }

    }
    .info{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .message-list{
        list-style: none;
        font-size: 25px;
       max-height: 100vh;
       padding-bottom: 80px;
       .message-wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        strong{
            margin-right: 20px;
            font-size: 14px;
            color: rgb(20, 20, 20);
        }
       }
        overflow-y: auto;
        li{
            display: flex;
            font-size: 17px;
            position: relative;
            align-items: center;
            span{
                position: relative;
                background: rgb(48, 165, 163);
                border-radius: 25px;
                color: #f4f4f4;
                display: inline-flex;
                font-size: 18px;
                padding: 10px 25px;
                margin-right: 10px;
              }
              
              &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 22.1px;
                height: 22.1px;
                background: rgb(48, 165, 163);
            }
          
            color: rgb(33, 38, 38);
            margin: 20px 0px;
            margin-left: 20px;       
        }
    }
}
.modal{
    display: flex;
    z-index: 6;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgb(37, 82, 121);
    .form{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    h1{
        margin-bottom: 20px;
        color: #fff;

    }
    #inputAddName{
        padding: 10px 5px;
        outline: none;
        border: none;
        font-size: 20px;
        border-radius: 20px;
    }
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }