* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wrapper .list-users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: scroll;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  color: #fff;
  border-right: 1px solid #000;
  padding: 40px;
  padding-bottom: 75px;
  padding-top: 20px;
  background: rgb(20, 68, 74);
  width: 25%;
  word-wrap: break-word;
}
.wrapper .list-users .users {
  margin-top: 15px;
  list-style: decimal;
}
.wrapper .list-users li {
  margin: 5px 0px;
  border-bottom: 1px solid #fff;
  font-size: 20px;
}
.wrapper .form-mesage {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 5;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  bottom: 0;
  right: 0;
  left: 19.73%;
  background: rgb(24, 99, 108);
}
.wrapper .form-mesage .message-input {
  width: 100%;
  height: 35px;
  border-radius: 30px;
  border: none;
  padding: 0px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
  margin-left: 15px;
}
.wrapper .form-mesage .btn {
  background: rgb(22, 183, 201);
  border: none;
  padding: 10px;
  margin: 0px 10px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: none;
  color: #fff;
  border-radius: 25px;
}
.wrapper .form-mesage .btn span {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.wrapper .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.wrapper .message-list {
  list-style: none;
  font-size: 25px;
  max-height: 100vh;
  padding-bottom: 80px;
  overflow-y: auto;
}
.wrapper .message-list .message-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper .message-list .message-wrap strong {
  margin-right: 20px;
  font-size: 14px;
  color: rgb(20, 20, 20);
}
.wrapper .message-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 17px;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgb(33, 38, 38);
  margin: 20px 0px;
  margin-left: 20px;
}
.wrapper .message-list li span {
  position: relative;
  background: rgb(48, 165, 163);
  border-radius: 25px;
  color: #f4f4f4;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 18px;
  padding: 10px 25px;
  margin-right: 10px;
}
.wrapper .message-list li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 22.1px;
  height: 22.1px;
  background: rgb(48, 165, 163);
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 6;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(37, 82, 121);
}
.modal .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.modal h1 {
  margin-bottom: 20px;
  color: #fff;
}
.modal #inputAddName {
  padding: 10px 5px;
  outline: none;
  border: none;
  font-size: 20px;
  border-radius: 20px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}